.card{
    background-color: #2E236C;
    height: 200px;
    border-radius: 1rem;
    border: 1px solid #c8acd638;
    cursor: pointer;
    transition: 0.2s ease-in;
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover{
    box-shadow:  0px 0px 20px #706c6c54;

}

.avatar{
    padding-top: 0.2rem;
    margin: auto;
    width: 120px;
    border-radius: 50%;
}

.username{
    font-weight: bold;
    font-size: 1.2rem;
}